<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000518267462-3obgqehgih1u6lqa3bljoffo96lp58po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000518267462-3obgqehgih1u6lqa3bljoffo96lp58po</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Ap0akQ6ABtX8dUQj6Vf4oJ7rZp7DtBg</string>
	<key>GCM_SENDER_ID</key>
	<string>1000518267462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asce.tracker</string>
	<key>PROJECT_ID</key>
	<string>sincere-kit-191221</string>
	<key>STORAGE_BUCKET</key>
	<string>sincere-kit-191221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000518267462:ios:4440071d00bc3bc88f5047</string>
	<key>DATABASE_URL</key>
	<string>https://sincere-kit-191221.firebaseio.com</string>
</dict>
</plist>